anthropic==0.25.6
gradio==4.27.0
langchain==0.1.16
langchain-community==0.0.33
numpy==1.26.4
pandas==2.2.2
pypdf==4.2.0
scikit-learn==1.4.2
sentence-transformers==2.7.0
tqdm==4.66.2
transformers==4.40.0
